:root {
    --main-color: #ec1f55;
    --text-color: #333;
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.player {
    /* min-height: 400px; */
    text-align: center;
    box-shadow: 0 2px 10px #333;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.player h3 {
    color: #ec1f55;
    font-size: 1rem;
    padding: 10px 5px 2px; 
    font-family: Arial, Helvetica, sans-serif;

}

.player span {
    font-size: 1.7rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.cd {
    display: flex;
    width: 200px;
    /* margin: auto; */
    margin: 10px auto 10px;
}

.cd .cd-thumb {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    border-radius: 50%;
}

.player-control {
    margin-top: 25px;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 100;
    color: rgba(0, 0, 0, .5);
    margin-bottom: 35px;
}

.btn.active {
    color: #ec1f55;
}

.player-control .fa-play-circle, .fa-pause-circle {
    font-size: 3rem;
    color: #ec1f55;
}

.player.playing .icon-play{
    display: none;
}

.player.playing .icon-pause{
    display: flex;
}

.player .icon-pause {
    display: none;
}

.progress {
    margin: 0 auto 15px;
    width: 90vw;
    accent-color: #ec1f55;
}

.play-list {
    margin: 410px auto 10px;
    width: 90vw;
}

.play-list .song-item {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    margin: 5px 0 12px 0;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.2s ease;
}

.play-list .album-picture {
    height: 38px;
    width: 38px;
    background-size: cover;
    border-radius: 50%;
}

.play-list .song-item .song-menu {
    font-size: 1.2rem;
    opacity: 0.5;
}

.play-list .song-info {
    width: 55vw;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.play-list .song-name {
    font-family: sans-serif;
    font-size: 1.1rem;
    margin-bottom: 4px;
}

.play-list .song-singer {
    font-family: sans-serif;
    font-size: 0.7rem;
    opacity: 0.7;
}
.song-item.active {
    background-color: #ec1f55;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    transform: translateX(8px) ;
    border: violet solid 1px;
    border-radius: 12px;
}
.song-item:active {
    opacity: 0.5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .8);
}
.song-item.active .song-name,
.song-item.active .song-menu,
.song-item.active .song-singer {
    color: #fff;
    opacity: 1;
}
